<div class="home">
  <%= render "layouts/navbar" %>
  <div class="wrapper">

    <img class="home-logo" src="<%= asset_path('flashieslogo_dark.svg')%>"/>

    <h3 class="blue em bottompad toppad">Quick way to memorise things.</h3>

    <% if user_signed_in? %>
      <%= link_to 'My Decks', decks_path, class: 'start' %>
    <% else %>
      <%= link_to 'Get Started', new_user_registration_path, class: 'start' %>
    <% end %>

    <div class="intro">
      <div class="home-deck">
        <h3 class="em bottompad toppad">Create</h3>
        <img src="<%= asset_path('create.svg')%>"/>
        <p>Write your own two-sided study flashcards and organise them by decks.</p>
      </div>

      <div class="home-deck">
        <h3 class="em bottompad toppad">Flash 'Em!</h3>
        <img src="<%= asset_path('flash.svg')%>"/>
        <p>Enter Flash Mode and start studying with your selected deck. Flip card to reveal answers.</p>
      </div>

      <div class="home-deck">
        <h3 class="em bottompad toppad">Share</h3>
        <img src="<%= asset_path('share.svg')%>"/>
        <p>Share your decks with friends easily with a public URL.</p>
      </div>
    </div>


  </div>
</div>
