<!-- // FORM FOR NEW CARD -->

  <!-- <div id="cancel" class="darkblue">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </div> -->

  <%= simple_form_for ([@deck, @card]), html: { multipart: true } do |f| %>
    <% if @card.errors.any? %>
      <div id="errors">
        <h2>
          <%= pluralize(@card.errors.count, "error") %>
          prevented this card from saving
        </h2>
        <ul>
          <% @card.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group blue">
      <%= f.input :prompt_text, input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group pink2">
      <%= f.input :answer, input_html: { class: 'form-control bottompad' } %>
    </div>

    <%= f.button :submit, class: "btn" %>
  <% end %>
