<%= render "layouts/navbar" %>
<div class="wrapper">

  <h1 class="darkblue center"><%= @user.username %>'s Decks</h1>

  <% if @can_edit %>
  <div class="add_btn center">
    <!-- "<%= link_to new_deck_path do %>" -->
      <span class="shift"><i class="fa fa-plus-square" aria-hidden="true"></i> New Deck
    <% end %>
  </div>

    <div class="deck-form">
      <%= render 'form' %>
    </div>

  <% end %>



  <div class="deck-wrap">
    <% @decks.each do |deck| %>
      <div class="deck">
        <h6><i class="fa fa-align-justify pink2" aria-hidden="true"></i></h6>
        <h6> <%= link_to deck.title, deck %> </h6>
        <p><%= deck.description %></p>

      </div>
    <% end %>
  </div>




</div>
