<div class="flash">
  <%= render "layouts/navbar2" %>
  <div class="wrapper">
    <%= link_to "Back", decks_path, { class: 'right' } %>
    <h5 class="toppad">By <%= @deck.user.username %></h5>
    <h1><%= @deck.title %></h1>
    <p><%= @deck.description %></p>


    <h2>Cards</h2>

      <% @deck.cards.each do |card| %>
      <div class="card">
        <h3><%= card.prompt_text %></h3>
        <p><%= card.answer %></p>
        <%= link_to "Edit this card", edit_deck_card_path(@deck.id, card.id) %>
        <%= link_to "Delete this card", deck_card_path(@deck.id, card.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
      <% end %>



    <%= link_to "Add a card", new_deck_card_path(@deck.id), { class: 'add_btn' }  %>
    <%= link_to "Edit Deck", edit_deck_path %>
    <%= link_to "Delete this deck", deck_path, method: :delete, data: {confirm: "Are you sure?"} %>

  </div>
</div>
