<div class="flash">
  <%= render "layouts/navbar" %>
  <div class="wrapper">
    <%= link_to "Back", decks_path, { class: 'right' } %>
    <h5 class="toppad">By <%= @deck.user.username %></h5>
    <h1><%= @deck.title %></h1>
    <p><%= @deck.description %></p>


    <% if @can_edit %>
      <div class="add_btn center">
        <span class="shift"><i class="fa fa-plus-square" aria-hidden="true"></i> Add a card
      </div>

      <div class="deck-form">
        <%= render 'form' %>
      </div>

    <% end %>





    <div id="js-flip-2" class="flip">
        <div class="card">
            <div class="face front">Prompt</div>
            <div class="face back">Answer</div>
        </div>
    </div>


      <% @deck.cards.each do |card| %>
      <div id="js-flip-2" class="flip">
        <div class="card">
          <div class="face front"><%= card.prompt_text %></div>
          <div class="face back"><%= card.answer %></div>
        </div>
      </div>
      <%= link_to "Edit this card", edit_deck_card_path(@deck.id, card.id) %>
      <%= link_to "Delete this card", deck_card_path(@deck.id, card.id), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>




    <%= link_to "Edit Deck", edit_deck_path %>
    <%= link_to "Delete this deck", deck_path, method: :delete, data: {confirm: "Are you sure?"} %>

  </div>
</div>
