<%= render "layouts/navbar" %>
  <div class="wrapper">
    <!-- ============ NORMAL MODE ============= -->
    <div id="normal-mode">
      <div class="leftside">
        <div class="back">
          <%= link_to decks_path do %>
            <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back
          <% end %>
        </div>

        <h6 class="darkblue toppad">
          Created by <span class="pink2"><%= @deck.user.username %></span>
        </h6>
        <h3 class="darkblue toppad"><%= @deck.title %></h3>
        <p class="darkblue toppad"><%= @deck.description %></p>

        <div class="deck-form hidden">
          <%= render 'cards/form' %>
        </div>

        <div class="edit-grp">
          <%= link_to edit_deck_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>
          <%= link_to deck_path, method: :delete, data: {confirm: "Are you sure?"} do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        </div>



      </div>

      <div class="rightside">

        <% @deck.cards.each do |card| %>
          <div class="card">
            <div class="blue"><%= card.prompt_text %></div>
            <div class="pink2"><%= card.answer %></div>
            <div class="edit-grp">
              <%= link_to edit_deck_card_path(@deck.id, card.id) do %>
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              <% end %>
              <%= link_to deck_card_path(@deck.id, card.id), method: :delete, data: {confirm: "Are you sure?"} do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="add_btn center">
            <span class="shift"><i class="fa fa-plus-square" aria-hidden="true"></i> New Card
        </div>
      </div>


    </div>
    <button id="flash">
      <h5>Start Flash Mode</h5>
    </button>
    <!-- ============ FLASH MODE ============= -->
    <div id="flash-mode" class="hidden">
      <div id="js-flip-2" class="flip">
        <div class="card">
            <div class="face front">Prompt</div>
            <div class="face back">Answer</div>
        </div>
      </div>


      <% @deck.cards.each do |card| %>
      <div id="js-flip-2" class="flip">
        <div class="card">
          <div class="face front"><%= card.prompt_text %></div>
          <div class="face back"><%= card.answer %></div>
        </div>
      </div>

      <% end %>

    </div>



  </div>
