<h1><%= @deck.title %></h1>
<p><%= @deck.description %></p>
<p>By <%= @deck.user.email %></p>

<%= link_to "Edit", edit_deck_path %>
<%= link_to "Delete", deck_path, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back", root_path %>
