<%= render "layouts/navbar" %>
  <div class="wrapper">
    <!-- ============ NORMAL MODE ============= -->
    <div id="normal-mode">
      <div class="normal-wrapper">

        <div class="leftside">
          <div class="back">
            <%= link_to decks_path do %>
              <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back
            <% end %>
          </div>

          <div class="deck-form hidden">
            <%= render 'cards/form' %>
          </div>

          <h6 class="darkblue toppad">
            Created by <span class="pink2">
              <%= link_to @deck.user.username, user_path(username: @deck.user.username) %></span>
          </h6>
          <h3 class="darkblue toppad"><%= @deck.title %></h3>
          <p class="darkblue toppad"><%= @deck.description %></p>

          <!-- ONLY OWNER CAN EDIT DECK -->
          <% if @can_edit %>
            <div class="edit-grp">
              <%= link_to edit_deck_path do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit this deck
              <% end %>
              <%= link_to deck_path, method: :delete, data: {confirm: "Are you sure?"} do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete deck
              <% end %>
            </div>
          <% end %>

          <!-- Button trigger modal -->
          <% if @can_edit %>
            <button type="button" class="add_btn" data-toggle="modal" data-target="#myModal">
               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Card
            </button>
          <% end %>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Add a card</h4>
                </div>
                <div class="modal-body">
                  <%= render 'cards/form' %>
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="rightside">

          <% @deck.cards.each do |card| %>
            <div class="card">
              <div class="blue"><%= card.prompt_text %></div>
              <div class="pink2"><%= card.answer %></div>

              <!-- ONLY OWNER CAN EDIT CARD -->
              <% if @can_edit %>
                <div class="edit-grp">
                  <!-- <%= link_to edit_deck_card_path(@deck.id, card.id) do %>
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <% end %> -->
                  <%= link_to deck_card_path(@deck.id, card.id), method: :delete, data: {confirm: "Are you sure?"} do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>

          <div id="flash">
            <h6><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>FLASH MODE!</h6>
          </div>
        </div>
      </div>



    </div>


    <!-- ============ FLASH MODE ============= -->
    <div id="flash-mode" class="hidden">

      <div id="normal">
        <h6><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> BACK</h6>
      </div>

      <div class="flash-wrapper">
        <div id="demo5-btn" class="directions">
          <div id="demo5-backward"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></div>
        </div>

        <div id="demo5" class="scroll-img">
          <ul class="cards-box">
            <li>
                <div id="js-flip-2" class="flip">
                    <div class="card">
                        <div class="face front"><p>End</p></div>
                        <div class="face back"><p>End</p></div>
                    </div>
                </div>
            </li>
            <% @deck.cards.each do |card| %>
              <li>
                  <div id="js-flip-2" class="flip">
                      <div class="card">
                          <div class="face front"><p><%= card.prompt_text %></p></div>
                          <div class="face back"><p><%= card.answer %></p></div>
                      </div>
                  </div>
              </li>
            <% end %>
          </ul>
        </div>

        <div id="demo5-btn" class="directions">
          <div id="demo5-forward"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></div>
        </div>

      </div>

      <h6 class="center pink2 toppad bottompad"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Click on card to flip!</h6>

    </div>

  </div>
